
<%- include("includes/head");%>
<body>
    <h1>home page</h1>
    <h2> the value of  200**2 is <%= 20**2 %> </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus hic laboriosam totam repellendus tempore distinctio ut voluptate, mollitia nostrum amet omnis officiis non neque similique laudantium eligendi vitae earum. Laudantium.</p>
    <button>click me!</button>
    <script>

        let btn=document.querySelector('button');
        btn.addEventListener('click',()=>{
            // alert("hello i am arbaz khan");
        });
    </script>
    <%- include("includes/footer.ejs");%>
</body>
</html>