
<%- include("includes/head");%>
<body>

    <h1> dice gave value :

        <%=  diceVal %>
    </h1>
    
    <% if(diceVal===6) { %>

        <h1>nice! roll again </h1>
        <% } %>
        <%- include("includes/footer.ejs");%>
</body>
</html>